.main{
    display: flex;
}
.sidemenu{
    background-color:white;
    height: 750px;
    width: 200px;
    border-radius:10px;
}
.contents{
    background-color:rgb(246, 240, 240);
    width: 1300px;
    border-radius: 10px;
    
}
